# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Виртуальные окружения
venv/
.venv/
env/
.env/

# Базы данных (чтобы не коммитить task_manager.db и прочее)
*.db
*.sqlite3

# IDE / редакторы
.vscode/
.idea/
*.swp
*.swo

# Pytest
.pytest_cache/
.coverage

# Системные файлы
.DS_Store
Thumbs.db

/uploads
test_downloaded.txt 
test.txt

